{% if format is same as 'html' %}
    {% block html %}
    <ul>
        {% for voucher, file in files %}
        <li><a href="{{ notification_center_file_url(voucher) }}">{{ file.name }} ({{ file.size|format_bytes }})</a></li>
        {% endfor %}
    </ul>
    {% endblock %}
{% endif %}

{% if format is same as 'text' %}
    {% block text %}
        {% for voucher, file in files %}
        - [{{ file.name }} ({{ file.size|format_bytes }})]({{ notification_center_file_url(voucher) }})
        {% endfor %}
    {% endblock %}
{% endif %}
